@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or your global CSS file */
.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.scroll-container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
